<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Continents</title>
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>
<body>

<div class="container">
  <h3>List of continents</h3>
<hr/>
  <table class="table table-bordered table-striped" id="continentsTable">

    <thread>
      <tr>
      <th>Name</th>
        <th>Id</th>
      </tr>
    </thread>
    <tbody>
    <tr th:each="continent: ${continents}">
    <td th:text="${continent.getName()}" />
    <td th:text="${continent.getId()}" />
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>